body {
  background-color: #15202B;
}

.Tweet-header {
  color: #6C757D;
}

.Tweet-btn {
  color: black;
  background-color: #007BFF;
  border-radius: 7px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 30px;
}

.Tweet-btn:disabled {
  color: black;
  background-color: #4e79a7
}

.Tweet-btn:hover:enabled {
  background-color: #409bfc;
  transform: scale(1.2);
}

.Tweet-btn:active:enabled {
  transform: scale(1.3);
  cursor: pointer;
}

.box {
  border: 2px solid black;
  margin: 1px 0 1px 0;
  padding: 3px;
}